.contentContainer {
  padding: 72px 20vw 0;
}

.countryHeader {
  display: flex;
  align-items: center;
}

.countryName {
  margin: 0 0 0 4px;
  padding: 0;
  font-size: 2.25em;
  color: var(--text-primary);
}

.countryFlag {
  height: 1.9em;
  padding: 0;
  border-radius: 8px;
}

.countryDescription {
  margin: -0.5em 0 0 0;
  font-size: 1em;
  color: var(--text-secondary);
}

.countryInfoContainer {
  margin-top: 8px;
  align-items: center;
}

.countryDetails {
  float: right;
  margin-left: 8px;
  padding-bottom: 16px;
}

.countryExtract {
  margin: 0;
  font-size: 1.1em;
  color: var(--text-primary);
}

@media (max-width: 640px) {
  .contentContainer {
    padding: 56px 16px 0;
  }
  .countryInfoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .countryDetails {
    float: none;
    margin: 0;
    font-size: 1.15em;
  }
  .countryExtract {
    order: -1;
    text-align: justify;
    margin-bottom: 8px;
  }
}
