.mainContainer {
  padding: 72px 20vw;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 2.25em;
  color: var(--text-primary);
}

.hub {
  color: var(--green);
}

.mainContent {
  margin-top: 32px;
  overflow: auto;
}

.randomCountry {
  width: 100%;
}

.randomCountry th {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px 4px 0.5em;
}

.randomCountry td {
  padding: 0.5em 4px 4px 0.5em;
}

.randomCountryContainer {
  display: flex;
  flex-direction: column;
}

.repeatBtn {
  justify-content: end;
}

.randomCountryName {
  display: flex;
  align-items: center;
  font-weight: 450;
  color: var(--text-primary);
}

.randomCountryExtract {
  padding-right: 0.5em;
  font-size: 0.9em;
  color: var(--text-primary);
}

.openBtn {
  margin-left: auto;
}

h2 {
  margin: 16px 0;
  font-size: 1.65em;
}

.contentTable {
  width: 100%;
}

.contentTable th {
  white-space: nowrap;
}

.countryName {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--text-primary);
  padding-left: 8px;
  cursor: pointer;
}
.countryName:hover {
  font-weight: 500;
}

.countryFlag {
  width: 36px;
  padding: 2px;
  margin-right: 8px;
  border-radius: 5px;
  align-items: center;
  user-select: none;
}

@media (max-width: 640px) {
  .mainContainer {
    padding: 56px 16px 0;
  }
  .title {
    font-size: 2em;
  }
  .mainContent {
    margin-top: 8px;
  }
  h2 {
    margin: 8px 0;
  }
}
