.MuiFormControl-root {
  flex-grow: 1;
}

.MuiInputBase-root {
  height: 40px;
  border-radius: 32px;
  font-family: inherit;
  font-size: 1em;
  line-height: 40px;
  color: var(--text-primary);
  cursor: pointer;
}

.MuiInputBase-input {
  padding: 0 8px;
}

.MuiOutlinedInput-notchedOutline {
  border: none;
}

.MuiSvgIcon-root {
  color: var(--text-primary);
}

.MuiPaper-root {
  color: var(--text-primary);
  background: var(--bkg-tertiary);
  width: 136px;
}

.MuiButtonBase-root.MuiMenuItem-root:hover,
.MuiButtonBase-root.MuiMenuItem-root.Mui-selected {
  background: var(--bkg-quaternary);
}

.MuiTouchRipple-root {
  color: color-mix(in srgb, var(--text-primary), transparent 46%);
}
.MuiButtonBase-root:hover {
  background: color-mix(in srgb, var(--text-primary), transparent 96%);
}

.MuiSlider-root {
  color: var(--text-secondary);
  height: 3px;
}

.MuiSlider-thumb {
  width: 16px;
  height: 16px;
}

.MuiSlider-thumb.Mui-focusVisible,
.MuiSlider-thumb:hover {
  box-shadow: 0px 0px 0px 6px color-mix(in srgb, var(--text-primary), transparent 96%);
}

.MuiSlider-thumb.Mui-active,
.MuiSlider-thumb.Mui-active:hover {
  box-shadow: 0px 0px 0px 10px color-mix(in srgb, var(--text-primary), transparent 96%);
}
