.contentContainer {
  padding: 72px 20vw 0;
}

.contentTitle {
  margin: 0;
  padding: 0;
  font-size: 2.25em;
  color: var(--text-primary);
}

.contentDescription {
  margin: -0.5em 0 0 0;
  font-size: 1em;
  color: var(--text-secondary);
}

.contentExtract {
  font-size: 1.1em;
  color: var(--text-primary);
}

@media (max-width: 640px) {
  .contentContainer {
    padding: 56px 16px 0;
  }
}
