.logoTitle {
  font-size: 1.7em;
  padding-left: 8px;
  cursor: pointer;
}
.logoTitle::before {
  content: "Nation";
  color: var(--text-primary);
}
.logoTitle::after {
  content: "Hub";
  color: var(--green);
}
