.headerContainer {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: var(--bkg-primary);
  box-sizing: border-box;
  height: 56px;
}

.start,
.center,
.end {
  display: flex;
  align-items: center;
}

.center {
  flex: 0 1 512px;
  padding: 0 72px;
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.backBtn,
.searchBtn {
  display: none;
}

@media (max-width: 640px) {
  .center {
    padding: 0;
    justify-content: flex-end;
  }

  .searchBtn {
    display: flex;
  }

  .headerContainer.searchMode {
    .start,
    .end {
      display: none;
    }

    .center {
      flex: 0 1 640px;
    }

    .backBtn {
      display: flex;
    }

    .searchBtn {
      display: none;
    }
  }
}
