.header-container {
  display: flex;
  position: fixed;
  /* background: var(--bkg-primary); */
  width: 100%;
  z-index: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
  height: 56px;
}

#start.header,
#center.header,
#end.header {
  display: flex;
  align-items: center;
}

#center.header {
  flex: 0 1 512px;
  padding-left: 16px;
  justify-content: center;
}

#end.header {
  justify-content: flex-end;
}

.logo-title {
  font-size: 1.7em;
  padding-left: 8px;
}
.logo-title::before {
  content: "Nation";
  color: var(--text-primary);
}
.logo-title::after {
  content: "Hub";
  color: var(--green);
}

.search-input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: var(--border-primary);
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  color: var(--text-primary);
  background: var(--bkg-secondary);
  box-sizing: border-box;
}
.search-input:hover {
  border-color: var(--green);
  transition: border-color 0.25s;
}
.search-input:focus {
  border: none;
  outline-color: var(--border-primary);
  outline-style: solid;
  outline-width: 2px;
}

.search-btn {
  display: none;
}

@media (max-width: 512px) {
  #center.header {
    justify-content: flex-end;
  }
  .search-input {
    display: none;
  }
  .search-btn {
    display: flex;
  }
}
