.input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: var(--border-primary);
  padding: 0.6em;
  color: var(--text-primary);
  background: var(--bkg-secondary);
  box-sizing: border-box;
  transition: border-color 0.25s;
}
.input:hover {
  border-color: var(--green);
}
.input:focus {
  border-color: transparent;
  outline-color: var(--border-primary);
  outline-style: solid;
  outline-width: 2px;
}
