.sidebarContainer {
  padding-left: 16px;
  background: var(--bkg-secondary);
  box-shadow: 0px 0 10px 3px rgba(0, 0, 0, 0.2);
  width: 256px;
  position: fixed;
  z-index: 1;
  text-align: left;
  transition: transform 0.2s ease-in-out;
  transform: translateX(-100%);
}
.sidebarContainer.open {
  transform: translateX(0);
}

.sidebarHeader {
  display: flex;
  align-items: center;
  height: 56px;
}

.sidebarContent {
  display: block;
  height: calc(100vh - 56px - 48px);
  overflow-x: hidden;
  padding-right: 8px;
}
.sidebarContent::-webkit-scrollbar {
  width: 8px;
}
.sidebarContent::-webkit-scrollbar-track {
  background: none;
}
.sidebarContent::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--scroll-thumb);
}
.sidebarContent::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}

.contentTable {
  width: 100%;
}

.contentItem {
  display: flex;
  border-radius: 5px;
  margin-bottom: 4px;
  cursor: pointer;
  align-items: center;
  user-select: none;
}
.contentItem:hover {
  background: var(--bkg-tertiary);
}
.contentItem.selected {
  font-weight: 500;
  background: var(--bkg-tertiary);
}
.contentItem.selected:hover {
  background: var(--bkg-quaternary);
}

.countryFlag {
  display: flex;
  width: 36px;
  padding: 2px;
  border-radius: 5px;
  align-items: center;
}

.countryName {
  font-size: 1em;
  color: var(--text-primary);
  padding-left: 8px;
}

.sidebarSettings {
  display: flex;
  padding-bottom: 8px;
  padding-right: 8px;
}

.sortDropdown {
  display: flex;
  flex-grow: 1;
  border-radius: 32px;
  border: 1px solid var(--border-primary);
  background: var(--bkg-secondary);
}

.filterBtn {
  flex-shrink: 0;
}
