.filterContent {
  display: flex;
  justify-content: space-between;
}

.checkboxContainer,
.rangeContainer {
  max-width: 512px;
  width: 256px;
}

.checkboxOption {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

.rangeOption {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.filterFooter {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}

.applyBtn {
  background-color: var(--bkg-tertiary);
  margin: 8px;
}

@media (max-width: 640px) {
  .filterContent {
    display: block;
    font-size: 1.2em;
  }

  .checkboxContainer,
  .rangeContainer {
    width: auto;
  }

  .filterFooter {
    position: fixed;
    bottom: 8px;
    right: 8px;
    width: 100%;
  }

  .applyBtn {
    font-size: 1.2em;
  }
}
