.filterHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.title {
  font-size: 1.3em;
  padding-left: 8px;
  margin: 0;
}

.closeBtn {
  justify-content: right;
}

.filterContent {
  display: flex;
  justify-content: space-between;
}

.checkboxContainer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.sliderContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.checkboxOption {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

.separator {
  font-size: 1em;
  font-weight: 400;
  padding: 0 0.35em;
  color: var(--text-secondary);
}

.input {
  width: 25%;
  background: var(--bkg-tertiary);
}

.sliderOption {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.sliderOption .slider {
  width: 60%;
}

.filterFooter {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}

.applyBtn {
  background-color: var(--bkg-tertiary);
}
